<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ecom Store{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
</head>
<body>
    {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
    {% endif %}

    <header>
        <h1>Ecom Store</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'store_list' %}">Stores</a> |
            {% if user.is_authenticated %}
                <a href="{% url 'logout_user' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 Ecom Store</p>
    </footer>
</body>
</html>